html {
    box-sizing: border-box;
    
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
   height: 100%;
}

p,h3,h2,h1 {
    margin: 0;
}

li {
    list-style: none;
}

img {
    height: 2em;
}

/* .projects-section,.project-box {
    border: 1px solid black;
} */

.main-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}

.sidebar {
    grid-row:1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    background-color: #1992D4;
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    gap: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.logo h1 {
    font-size: 24px;
}

.sidebar svg {
    fill: #fff;
    height: 25px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
}

.nav {
    display: grid;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}
/* Sidebar Ends */

/* Header */

header {
    display: grid;
    grid-auto-rows: min-content;
    padding: 10px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    width: 60%;
    gap: 10px;
}

.search-box input {
    width: 90%;
    background-color: #E2E8F0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

.header-top-right {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
    font-weight: 700;
}

.header-top img {
    height: 2em;
}

.header-buttons {
    display: flex;
    gap: 15px;
    
}

button {
    border-radius: 20px;
    background-color: #1992D4;
    color: #fff;
    padding: 10px 30px;
    font-size: 16px;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #18a2ec;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 5px 50px;
    align-items: center;
}

.header-bottom img{
    height: 50px;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
/* Header Ends */

/* Main Content Starts */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 20px 20px;
    gap: 20px;
    background-color: #E2E8F0;
}

.project-box,.announcements-box,.trending-box {
    background-color: #fff;
    
}

.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;

}

.project-box p, .announcements-box p {
    color: #747474;
}

.projects-section {
    grid-row: 1/3;
}

.projects-grid {
    display: grid;
    grid-template-columns:repeat(2,1fr);   
    grid-auto-rows: 1fr;    
    gap: 10px;
}

.project-box {
    display: flex;
    flex-direction: column;
    border-left: 10px solid #F0B429;
    padding: 20px;
    justify-content: space-between;
    height: 200px;
    margin-top: 10px;
}

.project-box-icons {
    display: flex;
    align-self: flex-end;
    gap: 10px;
}

.announcements-box {
    padding: 30px;
    margin-bottom: 0px;
    display: grid;
    gap: 5px;
    margin-top: 10px;

}

.announcements-box h2 {
    font-size: 16px;
}

.announcements-box p {
    font-size: 14px;
}

.announcements-box div {
    border-bottom: 0.1px solid gray;
    padding-bottom: 10px;
}

/* Trending */
.trending {
    align-self: end;
}
.trending-box {
    display: grid;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;

}

.trending-box>div {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
}

.trending-box img {
    height: 3em;
}

.user-handle {
    color: #747474;
}